body {
  height: 100vh;

  #root {
    height: 100%;

    .App {
      height: 100%;
      font-family: $spaceMono;
      font-weight: $regular;
      @include flexProperty(center, center);
      @extend %themeModeTransition;

      .container {
        max-width: 730px;
        width: 100%;

        header {
          @include flexProperty(space-between, center);
        }
      }
    }
  }
}